alias zshconfig="micro ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
alias chfont="$HOME/.termux/fonts.sh"
alias chcolor="$HOME/.termux/colors.sh"
alias cstest="$HOME/.termux/colortest/colortest"
alias csview="$HOME/.termux/colortest/colorview"
alias csbloks="$HOME/.termux/colortest/bloks"
alias cs256="$HOME/.termux/colortest/256colors2.pl"
alias rf="rm -rf"
alias mk="mkdir"
alias to="touch"
alias hm="$HOME"
alias purge="apt-get purge"
alias i="pkg install"
alias e="micro"
alias t="tmux"
alias py="python3"
